################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/net2d.vcxproj.user
/net2d.vcxproj.filters
/net2d.vcxproj
